{
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": ["^@/comp/(.*)$", "^@/util/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
