---
import { fade } from "astro:transitions";
import ProjectLayout from "../layouts/ProjectLayout.astro";
import { getStaticPaths as getBlog } from "../pages/blogs/[blog].astro";
import { getStaticPaths as getProject } from "../pages/projects/[project].astro";

type Blog = Awaited<ReturnType<typeof getBlog>>[0]["props"]["entry"];
type Project = Awaited<ReturnType<typeof getProject>>[0]["props"]["entry"];

const { entry }: { entry: Blog | Project } = Astro.props as { entry: Blog };

if (!entry.data.title)
  entry.data.title = entry.id.split("/").at(-1)!.slice(0, -3);
---

<ProjectLayout title={entry.data.title}>
  <main
    class="w-full h-full flex flex-col items-center bg-slate-950 pt-5 pb-20 px-5 overflow-scroll no-scrollbar"
  >
    <div class="max-w-2xl w-full items-start">
      <a
        aria-label="Back to home"
        href={"../#" + entry.data.title}
        class="text-slate-300 self-start icon-[tabler--chevron-left] w-6 h-6"
      ></a>
    </div>

    <div class="max-w-2xl w-full flex flex-col gap-y-10 pb-10">
      <section class="flex flex-col gap-y-2 items-center mt-10">
        <slot name="header" />
        <div class="items-center flex gap-x-5 text-sm text-zinc-400">
          {
            entry.data.published && (
              <p class="text-balance">
                Published: {entry.data.published.toUTCString().slice(0, -13)}
              </p>
            )
          }
          <p class="whitespace-nowrap">
            ~{Math.floor(entry.body.split(" ").length / 238)} min read
          </p>
        </div>
      </section>
    </div>

    <article
      transition:animate={fade({ duration: "1s" })}
      class="flex flex-col gap-4 max-w-2xl w-full md:text-lg items-start leading-snug"
    >
      <slot />
    </article>
  </main>
</ProjectLayout>
