---
import { fade } from "astro:transitions";
import ContentLayout from "../layouts/ContentLayout.astro";
import { getStaticPaths as getBlog } from "../pages/blogs/[blog].astro";
import { getStaticPaths as getProject } from "../pages/projects/[project].astro";
import Footer from "./Footer.astro";

type Blog = Awaited<ReturnType<typeof getBlog>>[0]["props"]["entry"];
type Project = Awaited<ReturnType<typeof getProject>>[0]["props"]["entry"];

const { entry }: { entry: Blog | Project } = Astro.props as { entry: Blog };

if (!entry.data.title)
  entry.data.title = entry.id.split("/").at(-1)!.slice(0, -3);
---

<ContentLayout title={entry.data.title}>
  <main
    class="w-full h-full flex flex-col items-center bg-slate-900 px-5 overflow-scroll overflow-x-hidden"
  >
    <nav class="self-start sticky top-0 z-10 pt-5">
      <div class="bg-slate-900 flex rounded-full p-2">
        <a
          title="Back to home"
          href={"../#" + entry.data.title}
          class="text-slate-300 self-start icon-[tabler--chevron-left] w-6 h-6"
        >
        </a>
      </div>
    </nav>

    <header class="max-w-2xl w-full flex flex-col gap-y-10 pb-10">
      <section class="flex flex-col gap-y-3 items-center mt-10 text-zinc-300">
        <slot name="header" />
        <div
          class="items-center w-full justify-evenly flex gap-x-5 text-sm text-custom"
        >
          {
            entry.data.published && (
              <p class="text-balance">
                Published: {entry.data.published.toUTCString().slice(0, -13)}
              </p>
            )
          }
          {
            entry.data.edited && (
              <p class="text-balance">
                Edited: {entry.data.edited.toUTCString().slice(0, -13)}
              </p>
            )
          }
          <p class="whitespace-nowrap">
            ~{Math.floor(entry.body.split(" ").length / 238)} min read
          </p>
        </div>
      </section>
    </header>

    <article
      transition:animate={fade({ duration: "1s" })}
      class="flex flex-col gap-4 max-w-2xl w-full text-base md:text-lg items-start leading-snug text-custom"
    >
      <slot />
    </article>

    <Footer />
  </main>
</ContentLayout>
