---
import { getCollection, render } from "astro:content";
import ContentLayout from "../../layouts/ContentLayout.astro";

export async function getStaticPaths() {
  const blogArray = await getCollection("blogs");
  return blogArray.map((blog) => {
    return {
      params: { blog: blog.id.split("/").at(-1) },
      props: { blog },
    };
  });
}

const { blog } = Astro.props;

const title =
  blog.data.title ||
  blog.filePath?.split("/").at(-1)?.slice(0, -3) ||
  blog.id.split("/").at(-1) ||
  "untitled";

const { Content } = await render(blog);
---

<ContentLayout title={title}>
  <div slot="header" class="flex flex-col gap-y-2 items-center">
    <h1
      id={blog.data.title}
      class="text-4xl sm:text-5xl font-bold text-center"
      transition:name={blog.data.title}
    >
      {title}
    </h1>
    <div
      class="items-center w-full justify-evenly flex gap-x-5 text-sm text-zinc-400"
    >
      <p class="text-balance">
        Published: {blog.data.published?.toUTCString().slice(0, -13)}
      </p>
      <p class="text-balance">
        Edited: {blog.data.edited?.toUTCString().slice(0, -13)}
      </p>
      <p class="whitespace-nowrap">
        ~{Math.floor(blog.body.split(" ").length / 238)} min read
      </p>
    </div>
  </div>

  <Content />
</ContentLayout>
