---
import { getCollection, render } from "astro:content";
import ContentLayout from "../../layouts/ContentLayout.astro";

export async function getStaticPaths() {
  const blogArray = await getCollection("blogs");
  return blogArray.map((blog) => {
    return {
      params: { blog: blog.id.split("/").at(-1) },
      props: { blog },
    };
  });
}

const { blog } = Astro.props;

if (!blog.data.title)
  blog.data.title =
    blog.data.title ||
    blog.filePath?.split("/").at(-1)?.slice(0, -3) ||
    blog.id.split("/").at(-1) ||
    "untitled";

const { Content } = await render(blog);
---

<ContentLayout entry={blog}>
  <div slot="header" class="flex flex-col gap-y-2 items-center">
    <h1
      id={blog.data.title}
      class="text-4xl sm:text-5xl font-bold text-center"
      transition:name={blog.data.title}
    >
      {blog.data.title}
    </h1>
  </div>

  <Content />
</ContentLayout>
