---
import { getCollection } from "astro:content";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import { fade } from "astro:transitions";
import ContentWrapper from "../../components/ContentWrapper.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blogs");

  return blogEntries
    .filter((entry) => !entry.data.isDraft)
    .map((entry) => ({
      params: { blog: entry.slug },
      props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<ContentWrapper entry={entry}>
  <div slot="header" class="flex flex-col gap-y-2 items-center">
    <h3
      id={entry.data.title}
      class="text-5xl md:text-6xl font-bold text-center"
      transition:name={entry.data.title}
    >
      {entry.data.title}
    </h3>
  </div>

  <Content />
</ContentWrapper>
