---
import { getCollection } from "astro:content";
import ContentWrapper from "../../components/ContentWrapper.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blogs");

  return blogEntries.map((entry) => {
    const slug = entry.slug.split("/");
    console.log(slug.at(-1));

    return {
      params: { blog: slug.at(-1) },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<ContentWrapper entry={entry}>
  <div slot="header" class="flex flex-col gap-y-2 items-center">
    <h1
      id={entry.data.title}
      class="text-5xl md:text-6xl font-bold text-center"
      transition:name={entry.data.title || entry.id.slice(0, -3)}
    >
      {entry.data.title || entry.id.split("/").at(-1)?.slice(0, -3)}
    </h1>
  </div>

  <Content />
</ContentWrapper>
