---
import "@fontsource/iosevka-aile";
import Layout from "./Layout.astro";

import { fade } from "astro:transitions";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  summary: string;
}

const { title, summary } = Astro.props;
---

<Layout title={title} description={summary}>
  <div class="w-full flex flex-col items-center px-5">
    <nav class="self-start md:self-center sticky top-0 z-10 pt-5 md:pr-190">
      <div
        class="bg-stone-900 flex rounded-full p-2 hover:bg-stone-800 group size-fit"
      >
        <!-- // href purely exists as a fallback in case JS is disabled -->
        <a
          href="/"
          title="Back to home"
          class="text-zinc-300 group-hover:text-indigo-400 self-start icon-[tabler--chevron-left] w-6 h-6
          cursor-pointer"
          id="back-button"
          role="button"
          aria-label="Go back"></a>
      </div>
    </nav>

    <header class="max-w-2xl w-full flex flex-col gap-y-10 pb-10">
      <section class="flex flex-col gap-y-3 items-center mt-10">
        <slot name="header" />
      </section>
    </header>

    <main
      transition:animate={fade({ duration: "1s" })}
      class="flex flex-col gap-4 max-w-2xl w-full items-start markdown text"
    >
      <slot />
    </main>

    <Footer />
  </div>
</Layout>

<script>
  const init = () => {
    // Track the previous URL in sessionStorage for SPA navigation (handled globally in Layout.astro)

    const backButton = document.getElementById("back-button");
    if (!backButton) return;

    backButton.addEventListener("click", (event) => {
      event.preventDefault(); // Prevent default link behavior when JS is enabled

      const isInternalNavigation = sessionStorage.getItem(
        "internal-navigation",
      );

      if (isInternalNavigation && isInternalNavigation == "true") {
        console.log("using astro trasnisitoin");
        window.history.back();
      } else {
        // If the user came from an external site or directly, go to homepage
        window.location.href = "/";
      }
    });
  };

  document.addEventListener("astro:page-load", init);
</script>
