---
import "@fontsource-variable/space-grotesk";
import "@fontsource/iosevka-aile";
import Layout from "./Layout.astro";

import { fade } from "astro:transitions";
import type { getStaticPaths as getBlog } from "../pages/blogs/[blog].astro";
import Footer from "../components/Footer.astro";

type Blog = Awaited<ReturnType<typeof getBlog>>[0]["props"]["entry"];

interface Props {
  frontmatter: {
    title: string;
  };
  entry?: Blog;
}

const { entry, frontmatter } = Astro.props;

const data = {
  title:
    entry?.data.title ||
    entry?.id.split("/").at(-1)!.slice(0, -3) ||
    frontmatter.title,
  published: entry?.data.published,
  edited: entry?.data.edited,
};
---

<Layout title={data.title}>
  <div
    class="w-full h-full flex flex-col items-center bg-slate-900 px-5 overflow-scroll overflow-x-hidden"
  >
    <nav class="self-start sticky top-0 z-10 pt-5">
      <div class="bg-slate-900 flex rounded-full p-2">
        <a
          title="Back to home"
          class="text-slate-300 self-start icon-[tabler--chevron-left] w-6 h-6
          back-button"
          href=`/#${data.title}`
        >
        </a>
      </div>
    </nav>

    <header class="max-w-2xl w-full flex flex-col gap-y-10 pb-10">
      <section class="flex flex-col gap-y-3 items-center mt-10 text-zinc-300">
        <slot name="header" />
        {
          entry && (
            <div class="items-center w-full justify-evenly flex gap-x-5 text-sm text-zinc-400">
              {entry?.data.published && (
                <p class="text-balance">
                  Published: {entry.data.published.toUTCString().slice(0, -13)}
                </p>
              )}
              {entry?.data.edited && (
                <p class="text-balance">
                  Edited: {entry.data.edited.toUTCString().slice(0, -13)}
                </p>
              )}
              <p class="whitespace-nowrap">
                ~{Math.floor(entry.body.split(" ").length / 238)} min read
              </p>
            </div>
          )
        }
      </section>
    </header>

    <main
      transition:animate={fade({ duration: "1s" })}
      class="flex flex-col gap-4 max-w-2xl w-full text-base md:text-[16.5px] items-start leading-snug text-zinc-200"
    >
      <slot />
    </main>

    <Footer />
  </div>

  <style is:global>
    :root {
      --small-size: 640px;
      --code-bg: #22272e;
      --zinc-300: rgb(212, 212, 216);
      --zinc-400: rgb(161, 161, 170);
      --zinc-400-fade: rgb(161, 161, 170, 0.3);
      --slate-900: rgb(15, 23, 42);
    }
    .text-custom {
      color: #d4d4d4;
    }

    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    blockquote {
      width: 100%;
    }

    .callout {
      padding: 1rem;
      border-radius: 0.5rem;
    }

    .quote {
      border-width: 0 0 0 4px;
      border-color: rgb(129, 140, 248, 0.7);
      padding-left: 1rem;
    }

    figure {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    hr {
      width: 80%;
      align-self: center;
      border: 0;
      border-top: 1px solid var(--zinc-400-fade);
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    img {
      max-height: 70vh;
      width: fit-content;
    }

    figcaption {
      width: 100%;
      font-size: 14px;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
      color: var(--zinc-400);
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    h2 {
      font-size: 28px;
      font-weight: 700;
      color: var(--zinc-300);
    }

    h3 {
      font-size: larger;
      font-weight: 700;
    }

    @media (min-width: var(--small-size)) {
      h2 {
        font-size: xx-large;
      }
      h3 {
        font-size: x-large;
      }
    }

    ul,
    ol {
      padding-left: 20px;
    }

    ol > li {
      list-style-type: decimal;
    }

    li {
      list-style-type: disc;
      list-style-position: outside;
    }

    table {
      width: max-content;
      text-align: center;
    }

    code {
      font-family: "Iosevka Aile", "Courier New", Courier, monospace;
      color: var(--zinc-300);
      background-color: var(--code-bg);
      padding: 0px 2px;
      border-radius: 4px;
    }

    code:has(span) {
      padding: 0.5rem;
    }

    pre {
      display: flex;
      width: 70ch;
      max-width: 100%;
      font-size: 16px;
      align-self: center;
      text-wrap: wrap;
      border-radius: 0.5rem;
    }

    a {
      font-weight: 600;
      --tw-text-opacity: 1;
      color: rgb(129 140 248);
      text-decoration-line: underline;
    }

    .footnotes {
      font-size: 14px;
    }

    .footnotes > h2 {
      font-size: x-large;
    }

    td,
    th {
      padding: 4px 12px 4px 12px;
    }

    table,
    th,
    td {
      font-size: 16px;
      border-width: 1px;
      border-color: rgb(30, 41, 59);
    }
  </style>
</Layout>
