---
import "@fontsource-variable/bitter";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const canonical = Astro.request.url;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonical} />
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter fallback="swap" />
    <script is:inline>
      if (!sessionStorage.getItem("internal-navigation")) {
        sessionStorage.setItem("internal-navigation", "false");
      }

      document.addEventListener("astro:before-preparation", () => {
        sessionStorage.setItem("internal-navigation", "true");
      });
    </script>
    <script
      is:inline
      async
      src="https://umami.simtyler.duckdns.org/script.js"
      data-website-id="36f3dd32-5889-4f21-a452-8002710531a2"
      data-do-not-track="true"></script>
  </head>
  <body
    class="flex flex-col font-sans text-base md:text-lg bg text w-[100dvw] h-[100dvh] overflow-x-hidden before:content-[''] before:fixed before:inset-0 before:bg-[url('/noise.avif')] before:bg-repeat before:opacity-25 before:pointer-events-none"
  >
    <slot />
  </body>
</html>
