---
import "@fontsource-variable/space-grotesk";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Sim Ho's personal website" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter fallback="swap" />
    <script
      is:inline
      async
      src="https://sim-analytics.duckdns.org/script.js"
      data-website-id="37252d51-9ed4-4e2c-a76b-b120f05318b7"
      data-do-not-track="true"></script>
  </head>
  <body
    class="flex flex-col font-sans leading-snug bg-slate-900 text-zinc-300 w-[100dvw] h-[100dvh] overflow-x-hidden"
  >
    <slot />
  </body>
</html>

<style is:global>
  .text-custom {
    color: #d4d4d4;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>
