---
import "@fontsource-variable/space-grotesk";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
interface Props {
  title: string;
  description?: string;
}

const { title, description = "Sim Ho's personal website" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter fallback="swap" />
    <script
      is:inline
      async
      src="https://sim-analytics.duckdns.org/script.js"
      data-website-id="37252d51-9ed4-4e2c-a76b-b120f05318b7"
      data-do-not-track="true"></script>
  </head>
  <body
    class="flex flex-col font-sans leading-snug bg-slate-900 text-zinc-300 w-[100dvw] h-[100dvh] overflow-x-hidden"
  >
    <slot />
  </body>
</html>

<style is:global>
  .text-custom {
    color: #d4d4d4;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>

<script>
  import { navigate } from "astro:transitions/client";

  const init = () => {
    const fromHome = window.sessionStorage.getItem("fromHome");
    if (fromHome) {
      // Verified that the user came from the index page.
      window.sessionStorage.removeItem("fromHome");
    }

    document.addEventListener("click", (e) => {
      console.log("clicked", e.target);
      if (e.target instanceof HTMLAnchorElement)
        console.log("clicked link", e.target.href);
      window.sessionStorage.setItem("fromHome", "true");
    });

    document
      .getElementById("back-button")
      ?.addEventListener("click", (event) => {
        event.preventDefault();

        const referrerUrl = document.referrer
          ? new URL(document.referrer)
          : null;

        if (!referrerUrl || !fromHome) {
          console.log("no referrer");
          // Was linked directly or from an external site
          navigate("/");
          return;
        }

        const currentOrigin = window.location.origin;

        console.log("before if", referrerUrl.origin, currentOrigin);
        if (fromHome === "true" || referrerUrl.origin === currentOrigin) {
          // If the user came from within the site, go back
          window.history.back();
        } else {
          // If the user came from an external site or directly, go to homepage
          navigate("/");
        }
      });
  };

  document.addEventListener("astro:page-load", init);
</script>
