---
import "@fontsource-variable/space-grotesk";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Sim Ho's personal website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions fallback="swap" />
  </head>
  <body class="font-sans bg-slate-950 text-zinc-300 w-screen h-screen">
    <slot />
    <style is:global>
      .text-balance {
        text-wrap: balance;
      }

      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      h2 {
        font-size: x-large;
        font-weight: 700;
      }
      h3 {
        font-size: larger;
        font-weight: 700;
      }

      @media (min-width: 768px) {
        h2 {
          font-size: xx-large;
        }
        h3 {
          font-size: x-large;
        }
      }

      ul {
        padding-left: 20px;
      }
      li {
        list-style-type: disc;
        list-style-position: outside;
      }

      table {
        width: max-content;
        text-align: center;
      }

      a {
        font-weight: 600;
        --tw-text-opacity: 1;
        color: rgb(129 140 248 / var(--tw-text-opacity));
        text-decoration-line: underline;
      }

      td,
      th {
        padding: 4px 12px 4px 12px;
      }
      table,
      th,
      td {
        font-size: 16px;
        border-width: 1px;
        border-color: rgb(30 41 59 / var(--tw-border-opacity));
      }
    </style>
  </body>
</html>
